<table class="table">

  <div class="booking">
    <div class="container">
      <div class="row align-items-center">

        <div class="col-lg-5">
          <div class="booking-form">

      <form #userlogin = "ngForm" (ngSubmit)="login(userlogin.value)" >

        <div class="control-group">
          <div class="input-group">
        <input type = "password" name = "password" placeholder = "Enter Password" ngModel>
          </div>
        </div>

        <div class="control-group">
          <div class="input-group">
        <input type = "username" name = "username" placeholder = "Enter Username" ngModel>
        <br><br>
          </div>
        </div>
        <input type = "submit" value = "Login">

      </form>

          </div>
        </div>
    </div>
  </div>
</div>

</table>
